@font-face {
    font-family: 'NFL';
    src: url('imagens/font/nfl.ttf') format('opentype');
    
  }

                

body{
    
    background-image: url('imagens/wallpaper004.jpg') ;
    background-position: top center;
    background-size: cover ;
    background-repeat: repeat;
    background-color: aliceblue;
}

header{
    background-image: linear-gradient(to right,transparent,rgba(0, 0, 0, 0.281),transparent);
    color: white;
    margin: auto;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.253);
    font-family: 'NFL', Times, serif;
    font-size: 20px;
}

header > h1 {
    margin: 0px;
    text-align: center;
}

#selecionarTime{
    text-align: center;
    font-size: 20px;
}

main {
    display: none;
    background-color: rgba(211, 211, 211, 0.651);
    max-width: 550px;
    min-width: 300px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
    padding: 0px;
    text-align: center;
}



main > h2 {
    background-color: rgba(128, 128, 128, 0.74);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    font-family: 'NFL',serif;
    font-size: 30px;        
}



img#escudo{
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
}

p#historia{
    width: 330px;
    text-align: justify;
    display: inline-block;
    font-size: 15px;
    font-family: Times, serif;
    line-height: 16px;
    
    
}

.trofeus{
    width: 120px;
    height: 60px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.trofeus > p {
    margin-top: 0px;
}
#superBowl{
    padding: 5px;
    margin: auto;
    width: 367px;
    font-size: 20px;
    font-family: 'NFL',serif;
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.123);
}

#superBowl a{
    padding: 10px;
    background-color: rgba(99, 99, 99, 0.123);
    color: black;
    border-radius: 7px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
}

#superBowl a:hover{
    background-color: rgba(99, 99, 99, 0.308);
    transition-duration: 0.5s;
}
#data{
    margin-left: -8px;
}
#mural{
    text-align: center;
    margin: auto;
    max-width: 350px;
    max-height: 220px;
}

#fotoTime{
    margin-top: 35px;
    margin-bottom: 10px ;
    max-width: 350px;
    max-height: 220px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
}

#qb {
    background-image: linear-gradient(to right,transparent,rgba(0, 0, 0, 0.082),transparent);
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: sans-serif;
}

#rodape {
    margin: 0;
    padding: 0;
    height: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#creditos {
    display: block;
    background-color: rgba(128, 128, 128, 0.637);
    text-align: center;
    position: fixed;
    bottom: 0px;
    font-size: .7em;
    height: 10px;
    padding: 2px;
    width: 100%;
}